*{
    margin: 0;
    body{
        font-family: karla;
        header{
            display: flex;
            background-color:#74A5D2 ;
            color: white;
            padding: 1.4rem;
            #tituloYopciones{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 1rem;
                width: 100%;
                h1{
                    font-family: Jost;
                }
                nav{
                    display: flex;
                    align-items: center;
                    a{
                        text-decoration: none;
                        color: white;
                        padding: 0 1rem;
                    }
                    a:hover{
                        font-weight: bolder;
                        text-decoration:underline;
                    }
                }
            }
        }
        main{
            display: flex;
            width: 100%;
            h1{
                margin: 3rem 0 1rem;
                font-family: Jost;
                font-size: 3rem;
                text-align: center;
            }
            #div_odontologo_table{
                width: 100%;
                table{
                    width: 100%;
                    border-collapse: collapse;
                    tr{
                        th{
                            background-color:#74A5D2 ;
                            color: white;
                            font-size: 1.5rem;
                        }
                        td,th{
                            text-align: center;
                            padding: 1rem;

                            border-left: 1px solid rgb(187, 187, 187);
                            border-right: 1px solid rgb(187, 187, 187) ;
                            button{
                                background-color: transparent;
                                border: none;


                            }
                        }

                    }
                    tr:nth-last-child(even){
                        background-color: rgba(34, 34, 34, 0.071);
                    }
    
                }
            }
        }
    }
}

.modalContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.313);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    opacity: 0;
}

#modal{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    input{
        border: none;
        border-bottom:gray solid 1px;
    }
    h2{
        text-align: center;
    }
    hr{
        margin: 0 0 2rem;
        border-top: #74A5D2 solid 2px;
    }
    .form-group{
        margin: 2rem;
    }
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 50px black;
    #botones{
        display: flex;
        align-items: center;
        justify-content: center;
        button:hover{
            filter: brightness(80%);
        }
        button:active{
            filter: brightness(60%);
        }
    }
    button{
        margin: 0 1rem;
        background-color: #74A5D2;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 2rem;
        color: white;
        font-family: Karla;

    }
}
.show{
    pointer-events: auto;
    opacity: 1;
}